html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
}

h3 {
    margin: 0;
}

td {
    height: 50px;
}

a {
    color: #007bff;
    text-decoration: none;
}

th {
    text-align: left;
}

.order-entry {
    height: 50px;
}

#left-dashboard {
    width: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s ease;
    background-color: #555;
}

#right-dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    padding-left: 2vw;
    padding-right: 2vw;
}

.dashboard-button {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.dashboard-button-description {
    padding-left: 5px;
    display: none;
}

#component-table tr {
    border-bottom: 1px solid black;
}

#dashboard {
    width: 100vw;
    height: 100%;
    background-color: #b3b3b3;
    color: white;
    display: flex;
    flex-direction: column;
}

#title {
    background-color: black;
    height: 4vh;
    text-align: center;
}

#main-content {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

#history-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#history-table {
    background-color: #555;
    width: 80%;
    height: 90%;
    margin-top: 8px;
    border-radius: 10px;
}

.content-title {
    text-align: center;
    margin-top: 8px;
}

.order-row {
    max-height: 50px;
    cursor: pointer;
}

#order-info-popup {
    color: white;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid #b3b3b3;
    background-color: #555;
}

#order-title {
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#order-creation-info {
    text-align: center;
    padding-bottom: 10px;
}

#order-price-power {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#order-price {
    justify-content: center;
    display: flex;
    width: 50%;
    text-align: center;
}

#order-price-value {
    padding-left: 10px;
}

#order-power {
    justify-content: center;
    display: flex;
    width: 50%;
    text-align: center;
}

#order-power-value {
    padding-left: 10px;
}

.order-component {
    padding-left: 10px;
    display: flex;
    height: 40px
}

.order-component-title {
    width: 100px;
}

#exit-icon {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

#order-buttons {
    display: flex;
    justify-content: space-around;
}