body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

th {
    text-align: left;
}

#component-table tr {
    border-bottom: 1px solid black;
}

#dashboard {
    width: 100vw;
    background-color: #b3b3b3;
    color: white;
    display: flex;
    flex-direction: column;
}

#left-dashboard {
    width: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s ease;
    background-color: #555;
}

#right-dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    padding-left: 2vw;
    padding-right: 2vw;
}

.dashboard-button {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.dashboard-button-description {
    padding-left: 5px;
    display: none;
}


#title {
    background-color: black;
    height: 4vh;
    text-align: center;
}

#main-content {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

#back-button {
    margin-left: 10px;
    margin-top: 8px;
}

#add-component-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#add-component-form {
    background-color: #555;
    width: 80%;
    margin-top: 8px;
    border-radius: 10px;
    min-height: 60vh;
}

.content-title {
    text-align: center;
    margin-top: 8px;
}

#caseform{

    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

