body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

th {
    text-align: left;
}

select {
    min-width: 150px;
}

#left-dashboard {
    width: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s ease;
    background-color: #555;
}

#right-dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    padding-left: 2vw;
    padding-right: 2vw;
}

.dashboard-button {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.dashboard-button-description {
    padding-left: 5px;
    display: none;
}

#component-table tr {
    border-bottom: 1px solid black;
}

#dashboard {
    width: 100%;
    background-color: #b3b3b3;
    color: white;
    display: flex;
    flex-direction: column;
}

#title {
    background-color: black;
    height: 4vh;
    text-align: center;
}

#main-content {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

#component-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


#component-table {
    background-color: #555;
    width: 80%;
    margin-top: 8px;
    border-radius: 10px;
    padding-bottom: 8px;
}

.content-title {
    text-align: center;
    margin-top: 8px;
}

#motherboard-row,
#processor-row,
#RAM-row,
#GPU-row,
#cooler-row,
#power-supply-row,
#total-price-row,
#submit-buttom-row {
    display: none;
}

#submit-build-button {
    text-align: center;
    width: 100px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.selection-option {
    width: 225px;
}

#type-column {
    min-width: 105px;
}