body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

th {
    text-align: left;
}

#component-table tr {
    border-bottom: 1px solid black;
}

#dashboard {
    width: 100vw;
    background-color: #b3b3b3;
    color: white;
    display: flex;
    flex-direction: column;
}

#left-dashboard {
    width: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s ease;
    background-color: #555;
}

#right-dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    padding-left: 2vw;
    padding-right: 2vw;
}

.dashboard-button {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.dashboard-button-description {
    padding-left: 5px;
    display: none;
}


#title {
    background-color: black;
    height: 4vh;
    text-align: center;
}

#main-content {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

#back-button {
    margin-left: 10px;
    margin-top: 8px;
}

#add-component-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#add-component-form {
    background-color: #555;
    width: 80%;
    margin-top: 8px;
    border-radius: 10px;
    min-height: 60vh;
}

.content-title {
    text-align: center;
    margin-top: 8px;
}

.dropdown{
    display: inline-block; 
}

.dropdown button{

    background-color: white; 
    color: black; 
    padding: 10px 15px; 
    border: none;
    cursor: pointer; 
}

.dropdown a {
    display: block; 
    color: black;
    text-decoration: none; 
    padding: 10px 15px;

}

.dropdown .context{

    position: absolute; 
    background-color: hsl(0, 1%, 72%); 
    min-width: 100px; 
    box-shadow: 2px 2px 5px hsl(0,0%,0%); 

}

.dropdown:hover .content{
    display: block; 


}


.dropdown:hover button{ 
    background-color: white; 

}

.dropdown a:hover{

    background-color: white;
}

